table {
  width: 100%;
}

  .container {
    height: 400px;
    width: 100%;
    overflow: auto;
  }

  th, td {
    overflow: break-word;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  tr.app-detail-row {
    height: 0;
  }
  
  tr.app-element-row:not(.app-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.app-element-row:not(.app-expanded-row):active {
    background: #efefef;
  }
  
  .app-element-row td {
    border-bottom-width: 0;
  }
  
  .app-element-detail {
    overflow: hidden;
    display: flex;
    min-height: 150px;
  }

  .app-element-detail > .mat-spinner, .app-element-detail > .mat-subheading-2{
    margin: auto;
    width: 50%;
  }

  .app-icon-error{
    position: absolute;
    padding-top: 2px;
    padding-left: 2px;
  }

  .mat-icon{
    padding-top: 4px;
  }