table {
  width: 100%;
}
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .container {
    height: 400px;
    width: 100%;
    overflow: auto;
  }

  th, td {
    overflow: break-word;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  body{
    padding: 0px 10px; 
  }

  .app-button-toggle{
    background-color: rgb(63, 81, 181);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 45px;
    margin: 0.5px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration-style: solid;
    -webkit-tap-highlight-color: white;
    box-shadow: white;
  }

  .mat-button-toggle-group {
    flex-wrap: wrap;
  }

  tr.app-detail-row {
    height: 0;
  }
  
  tr.app-element-row:not(.app-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.app-element-row:not(.app-expanded-row):active {
    background: #efefef;
  }
  
  .app-element-row td {
    border-bottom-width: 0;
  }
  
  .app-element-detail {
    overflow: hidden;
    display: flex;
    min-height: 150px;
  }

  .app-element-detail > .mat-spinner, .app-element-detail > .mat-subheading-2{
    margin: auto;
    width: 50%;
  }

  .app-icon-label{
    position: absolute;
  }

  .app-icon-error{
    position: absolute;
    padding-top: 2px;
    padding-left: 2px;
  }

  .mat-icon{
    padding-top: 4px;
  }