table {
  width: 100%;
}
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .container {
    height: 400px;
    width: 100%;
    overflow: auto;
  }

  th, td {
    overflow: break-word;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  body{
    padding: 0px 10px; 
  }