<app-header [title]=title></app-header>
<div class="app-content">
    <div class="app-cover">
      <div class="mat-display-3" style="padding-top: 20px;">Welcome to <b>Irregular Verbs App</b></div>
      <div class="mat-headline app-subtitle">Here you can find all irregular verb forms!</div>
      <div class="mat-headline app-subtitle">You can also click or tap on a verb row to see some definitions and exaples.</div>
    </div>    
  <router-outlet></router-outlet>
  <div style="padding-top: 10px;"></div>
  <app-footer></app-footer>
</div>
