.app-icon-label{
    position: absolute;
  }

  .mat-button-toggle-group {
    flex-wrap: wrap;
  }

.app-button-toggle{
    background-color: rgb(63, 81, 181);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 45px;
    margin: 0.5px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration-style: solid;
    -webkit-tap-highlight-color: white;
    box-shadow: white;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-icon{
    padding-top: 4px;
  }

  .app-clear-icon{
    background: none;
    border: none;
  }