
<mat-toolbar color="primary" class="app-footer">
    <span class="mat-body-2">Made by Martín Arrúa</span>
    <div class="app-footer-icons-container">
        <a href="https://github.com/martinnarrua94" target="_blank" rel="noopener">
            <mat-icon svgIcon="github" aria-hidden="false" aria-label="Github icon" class="app-footer-icon"></mat-icon>
        </a>       
        <a href="https://www.linkedin.com/in/martin-arrua/" target="_blank" rel="noopener">
            <mat-icon svgIcon="linkedin" aria-hidden="false" aria-label="Linkedin icon" class="app-footer-icon"></mat-icon>
        </a>
        <a href="mailto:martinnarrua94@gmail.com" target="_blank" rel="noopener">
            <mat-icon svgIcon="gmail" aria-hidden="false" aria-label="Gmail icon" class="app-footer-icon"></mat-icon>
        </a>      
    </div>        
</mat-toolbar>
